.cart-icon {
  // height: 30px;
  width: 30px;

  img {
    height: 100%;
    width: 100%;
  }

  .cart-icon__counter {
    border: 1px solid white;
    height: 15px;
    width: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: right;
    color: white;
  }
}
