.checkout {
  height: 100vh;

  &.content {
    display: flex;

    form {
      display: flex;
      flex-flow: row wrap;
      width: 50%;

      input {
        width: 50%;
        box-sizing: border-box;
        flex: 1;
        flex-basis: 50%;
      }
    }
  }
}
