.checkout {
  padding-bottom: 30px; }
  .checkout .header_title {
    width: 95%;
    padding-left: 2.5%;
    font-size: 35px; }
  .checkout.content {
    display: flex; }
    .checkout.content .form-wrapper {
      width: 50%;
      margin: 50px; }
      .checkout.content .form-wrapper h1, .checkout.content .form-wrapper h2 {
        padding-left: 2.5%; }
  .checkout form, .checkout .sepa__form {
    display: flex;
    flex-flow: row wrap; }
    .checkout form .checkout__input.double, .checkout .sepa__form .checkout__input.double {
      box-sizing: border-box;
      flex: 1;
      flex-basis: 50%;
      padding: 10px 0; }
      .checkout form .checkout__input.double input, .checkout .sepa__form .checkout__input.double input {
        width: 90%;
        height: 30px;
        margin-left: 5%; }
      .checkout form .checkout__input.double .input__title, .checkout .sepa__form .checkout__input.double .input__title {
        width: 90%;
        margin-left: 5%; }
    .checkout form .checkout__input.single, .checkout .sepa__form .checkout__input.single {
      box-sizing: border-box;
      flex: 1;
      flex-basis: 100%;
      padding: 10px 0;
      width: 50%; }
      .checkout form .checkout__input.single input, .checkout .sepa__form .checkout__input.single input {
        width: 95%;
        height: 30px;
        margin-left: 2.5%; }
      .checkout form .checkout__input.single .input__title, .checkout .sepa__form .checkout__input.single .input__title {
        width: 95%;
        margin-left: 2.5%; }
  .checkout .checkout__payment-provider {
    margin-left: 2.5%; }
    .checkout .checkout__payment-provider .checkout__payment-provider-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0; }
      .checkout .checkout__payment-provider .checkout__payment-provider-wrapper img {
        margin-left: 15px; }
  .checkout .btn.btn-primary {
    margin-left: 2.5%; }
  .checkout .checkout__payment h1 {
    padding-left: 2.5%; }
  .checkout .checkout__payment .sepa__form {
    padding-left: 2.5%;
    width: 30%;
    border-top: 2px solid black; }
    .checkout .checkout__payment .sepa__form .checkout__input.double input, .checkout .checkout__payment .sepa__form .checkout__input.double .input__title, .checkout .checkout__payment .sepa__form .checkout__input.single input, .checkout .checkout__payment .sepa__form .checkout__input.single .input__title {
      margin-left: 0; }
  .checkout.payment__success {
    height: calc(100vh - 380px);
    justify-content: center;
    align-items: center;
    text-align: center; }
    .checkout.payment__success span:first-of-type {
      font-weight: bold; }
