.main_container {
  background: white; }

.full_page {
  height: 100vh;
  width: 100vw; }
  .full_page:first-child {
    height: 50vh;
    border-bottom: 1px solid white; }
  .full_page.page_one {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .full_page.page_one .title span {
      color: #373737;
      letter-spacing: 3px;
      font-size: 30px; }
    .full_page.page_one .title img {
      margin: 0 45px 0 40px; }
  .full_page.page_two {
    background-image: url("../assets/star.png"); }
