$break-small: 400px;
$break-medium: 767px;
$break-large: 1200px;
$primaryColor: rgba(72,45,42,1);
$primaryColor50: rgba(72,45,42,.5);
$primaryColor10: rgba(72,45,42,.1);

.full_page {

  &.fp__one {
    height: 600px;
    background: url('../../assets/header.img.webp');
    background-size: cover;
    background-position: center;

    .fp__one-layer {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 100%;

      background: rgba(1,1,1,.5);
    }

    img {
      height: 500px;
    }

    @media screen and (max-width: $break-medium) {
      min-height: 300px;
      height: 100vh;

      img {
        height: 300px;
      }
    }
  }


  &.fp__two {
    .fp__two-item {
      display: flex;
      align-items: center;
      padding: 30px 0;

      .item-text-wrap, .item-image-wrap {
        width: 50%;
      }
      .fp__two-item-image {
        height: 400px;
      }

      .fp__two-item-description {
        p {
          color: $primaryColor;
          width: 50%;

          display: inline-grid;

          a {
            margin-top: 10px;
          }
        }
      }

      &:nth-child(1), &:nth-child(3) {
        .item-text-wrap {
          order: 2;
          text-align: left;

          p {
            float: left;
          }
        }
        .item-image-wrap {
          order: 1;
          text-align: right;
        }
      }

      &:nth-child(2) {
        .item-text-wrap {
          order: 1;
          text-align: right;

          p {
            float: right;
          }
        }
        .item-image-wrap {
          order: 2;
          text-align: left;
        }
      }
    }
  }



  &.fp__three {
    min-height: fit-content;
    display: grid;
    text-align: center;

    background: #c6c8ca;

    .fp__three-item-wrapper {
      display: flex;
      flex-flow: row wrap;
      text-align: center;

      .fp__three-items {

        flex: 1;
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 100px 0;

        .description {
          width: 50%;

          h1, h4 {
            margin: 0;
          }
        }

        .fp__three-item-bubble {
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 50%;


          &.outter {
            height: 150px;
            width: 150px;
            margin: 10px;

            border: 2px solid #999;
          }

          &.inner {
            width: 140px;
            height: 140px;

            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
      }

      @media screen and (max-width: $break-medium) {
        .fp__three-items {
          display: grid;
          flex-basis: 100%;
          text-align: center;

          padding: 20px 0;


          .description {
            width: 90%;
            padding-left: 5%;
          }
        }
      }
    }
  }
}
