.full_page.fp__one {
  height: 600px;
  background: url("../../assets/header.img.webp");
  background-size: cover;
  background-position: center; }
  .full_page.fp__one .fp__one-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(1, 1, 1, 0.5); }
  .full_page.fp__one img {
    height: 500px; }
  @media screen and (max-width: 767px) {
    .full_page.fp__one {
      min-height: 300px;
      height: 100vh; }
      .full_page.fp__one img {
        height: 300px; } }

.full_page.fp__two .fp__two-item {
  display: flex;
  align-items: center;
  padding: 30px 0; }
  .full_page.fp__two .fp__two-item .item-text-wrap, .full_page.fp__two .fp__two-item .item-image-wrap {
    width: 50%; }
  .full_page.fp__two .fp__two-item .fp__two-item-image {
    height: 400px; }
  .full_page.fp__two .fp__two-item .fp__two-item-description p {
    color: #482d2a;
    width: 50%;
    display: inline-grid; }
    .full_page.fp__two .fp__two-item .fp__two-item-description p a {
      margin-top: 10px; }
  .full_page.fp__two .fp__two-item:nth-child(1) .item-text-wrap, .full_page.fp__two .fp__two-item:nth-child(3) .item-text-wrap {
    order: 2;
    text-align: left; }
    .full_page.fp__two .fp__two-item:nth-child(1) .item-text-wrap p, .full_page.fp__two .fp__two-item:nth-child(3) .item-text-wrap p {
      float: left; }
  .full_page.fp__two .fp__two-item:nth-child(1) .item-image-wrap, .full_page.fp__two .fp__two-item:nth-child(3) .item-image-wrap {
    order: 1;
    text-align: right; }
  .full_page.fp__two .fp__two-item:nth-child(2) .item-text-wrap {
    order: 1;
    text-align: right; }
    .full_page.fp__two .fp__two-item:nth-child(2) .item-text-wrap p {
      float: right; }
  .full_page.fp__two .fp__two-item:nth-child(2) .item-image-wrap {
    order: 2;
    text-align: left; }

.full_page.fp__three {
  min-height: fit-content;
  display: grid;
  text-align: center;
  background: #c6c8ca; }
  .full_page.fp__three .fp__three-item-wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center; }
    .full_page.fp__three .fp__three-item-wrapper .fp__three-items {
      flex: 1;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 100px 0; }
      .full_page.fp__three .fp__three-item-wrapper .fp__three-items .description {
        width: 50%; }
        .full_page.fp__three .fp__three-item-wrapper .fp__three-items .description h1, .full_page.fp__three .fp__three-item-wrapper .fp__three-items .description h4 {
          margin: 0; }
      .full_page.fp__three .fp__three-item-wrapper .fp__three-items .fp__three-item-bubble {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; }
        .full_page.fp__three .fp__three-item-wrapper .fp__three-items .fp__three-item-bubble.outter {
          height: 150px;
          width: 150px;
          margin: 10px;
          border: 2px solid #999; }
        .full_page.fp__three .fp__three-item-wrapper .fp__three-items .fp__three-item-bubble.inner {
          width: 140px;
          height: 140px; }
          .full_page.fp__three .fp__three-item-wrapper .fp__three-items .fp__three-item-bubble.inner img {
            width: 100%;
            height: 100%;
            border-radius: 50%; }
    @media screen and (max-width: 767px) {
      .full_page.fp__three .fp__three-item-wrapper .fp__three-items {
        display: grid;
        flex-basis: 100%;
        text-align: center;
        padding: 20px 0; }
        .full_page.fp__three .fp__three-item-wrapper .fp__three-items .description {
          width: 90%;
          padding-left: 5%; } }
