.btn {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: #373737;
  border: 1px solid #482d2a;
  color: #333333;
  background-color: white;
  border-color: #cccccc;
  font-family: inherit;
  position: relative;
  outline: 0;
  line-height: 21px;
  letter-spacing: 0.2em;
  font-weight: 600;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  font-size: 11px;
  padding: 12px 32px; }
  .btn:active, .btn:hover {
    color: white;
    background: #c6c8ca; }
  .btn.redesign {
    color: #00d499;
    border-color: #00d499;
    background: #373737; }
    .btn.redesign:hover {
      color: #373737;
      background: #00d499; }
  .btn.redesign-white {
    color: #00d499;
    border-color: #00d499;
    background: white; }
    .btn.redesign-white:hover {
      color: white;
      border-color: #00d499;
      background: #00d499; }
  .btn.redesign-secondary {
    color: white;
    border-color: #00d499;
    background: #00d499; }
  .btn.btn-primary.reverse {
    color: white;
    background: #c6c8ca; }
    .btn.btn-primary.reverse:hover {
      color: black;
      background: white; }
  .btn.btn-secondary {
    background-color: #482d2a;
    color: white; }
    .btn.btn-secondary:hover {
      background-color: white;
      color: #c6c8ca; }
  .btn.disabled {
    opacity: 0.5;
    color: white;
    background: #c6c8ca; }
    .btn.disabled:hover {
      color: white !important;
      background: #c6c8ca !important;
      cursor: not-allowed; }
