.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  background: #373737;
  bottom: 0;
  color: white;
  border-top: 1px solid white; }
  .footer div {
    width: 50%; }
    .footer div.image {
      height: 80%;
      text-align: center; }
      .footer div.image img {
        max-height: 100%; }
    .footer div.content a {
      text-decoration: none;
      color: grey; }
      .footer div.content a.link {
        color: white;
        font-size: larger;
        text-decoration: underline; }
    .footer div.content h1, .footer div.content span, .footer div.content b {
      width: 60%;
      padding-left: 20%; }
      .footer div.content h1.block, .footer div.content span.block, .footer div.content b.block {
        display: block; }
  @media screen and (max-width: 767px) {
    .footer img {
      height: 70%; }
    .footer div.content h1, .footer div.content span, .footer div.content b {
      width: 100%;
      padding-left: 0; } }
