.footer {
  display: flex;
  justify-content: center;
  align-items: center;


  height: 300px;
  width: 100%;
  background: black;
  bottom: 0;

  color: white;

  div {
    width: 50%;

    p {
      width: 60%;
    }
  }
}
